.image {
    width: "100%";
    cursor: "pointer"
}




.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

/* Sidebar Slide-in Animation */
.animatedSidebar {
    animation: slideIn 0.6s ease forwards;
    transform: translateX(-30px);
    opacity: 0;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Fade-in title */
.fadeIn {
    animation: fadeInText 0.8s ease forwards;
    opacity: 0;
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

/* Individual recipe fade-in with stagger */
.listItemFade {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 0.5s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}